<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panucci's Pizza</title>
  </head>
  <body data-th-object="${order}">
    <h1>Delivery Details</h1>
    <table>
      <tr>
        <td>Order Number:</td>
        <td>
          <a
            data-th-href="@{/order/{id}(id=${order.getId()})}"
            span
            data-th-text="*{id}"
          ></a>
        </td>
      </tr>
      <tr>
        <td>Your order will be delivered to</td>
        <td><span data-th-text="*{address}"></span></td>
      </tr>
      <tr>
        <td>Pizza Cost:</td>
        <td>$<span data-th-text="*{pizzaCost}"></span></td>
      </tr>
      <tr data-th-if="*{rush}">
        <td>Rush:</td>
        <td><span>$2</span></td>
      </tr>
      <tr>
        <td>Total Cost:</td>
        <td>$<span data-th-text="*{totalCost}"></span></td>
      </tr>
    </table>
  </body>
</html>
