<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panucci's Pizza</title>
  </head>
  <body data-th-obj="${error}">
    <h2>Error 404: Not Found lol</h2>
    <p data-th-text="${error}"></p>
    <p>
      This is a custom error page because the Whitelabel error on railway throws
      404 error, but message body is not displayed.
    </p>
  </body>
</html>
